extends layout

block contingut
  form(name="input", action="/calcularSuma", method="get")
    | nombre1:
    input(type="text", name="n1")
    | nombre2:
    input(type="text", name="n2")
    input(type="submit", value="Submit")
 
