extends layout

block content
    h1= titol
    label la clau primaria és el email
    form#formAddUser(name="afegirAlumne",method="post",action="/modificarAlumneBD")
        input#inputUserName(type="text", placeholder="nom", name="nom")
        
        input#inputUserEmail(type="text", placeholder="email", name="email")
        button#btnSubmit(type="submit") submit
        